.post-header {
    max-width: 800px;
    min-width: 300px;
    font-size: 20px;
    overflow: auto;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
                box-sizing: border-box;
}

.post-body {
    max-width: 800px;
    min-width: 150px;
    font-size: 20px;
    overflow: auto;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
                box-sizing: border-box;
}